/build.xml
/nbproject/genfiles.properties
/nbproject/project (1).xml
/nbproject/build-impl.xml
/nbproject/build-impl (1).xml
/nbproject/project.xml
/nbproject/project (1).properties
/manifest.mf
/nbproject/project.properties